img {
  width: 400px;
  margin: auto auto;
  text-align: center;
  display: block;
}

body {
  /* width: 400px; */
  text-align: center;
  border-radius: 5px;
  border-color: black;
}

div {
  height: 20px;
  width: 400px;
  /* margin: auto auto; */
  display: block;
  /* margin-bottom: -20px; */
}

p {
  color: blue;
  /* margin-top: px; */
}

h2 {
  margin-top: -30px;
  width: 350px;
  color: gray;
  margin: auto auto;
  font-size: 26px;
}
